*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
/debug/gh-latest-debug-apk.sh
/debug/install-latest-debug.sh
/diff.md
